{#
| Variable     | Type                  | Description |
|--------------|-----------------------|-------------|
| page         | Page                  |             |
| page.title   | string                |             |
| page.content | string                |             |
| page.url     | string                |             |
| page.slug    | string                |             |
#}
{% extends "layouts.master" %}
{% block content %}
<div class="nr-container" style="padding-bottom:var(--nr-space-2xl)">
  <nav class="nr-pdp__breadcrumb">
    <salla-breadcrumb></salla-breadcrumb>
  </nav>

  <div class="nr-page-single">
    <h1 class="nr-page-single__title">{{ page.title }}</h1>
    <div class="nr-page-single__content content-entry">
      {{ page.content|raw }}
    </div>
    <salla-comments item-id="{{ page.id }}" type="page"></salla-comments>
  </div>
</div>
{% endblock %}
