{#
| Variable        | Type       | Description                    |
|-----------------|------------|--------------------------------|
| products        | Products[] |                                |
| position        | Int        | Sorting number start from zero |
#}
<section class="nr-section nr-container">
    <div class="nr-section-header">
      <div>
        <h2>{{ trans('blocks.home.latest_products') }}</h2>
      </div>
    </div>
    <salla-products-list source="latest"></salla-products-list>
</section>
