{% extends "layouts.master" %}
{% block content %}
<div class="nr-container nr-customer-layout">
  <nav class="nr-pdp__breadcrumb">
    <salla-breadcrumb></salla-breadcrumb>
  </nav>

  <div class="nr-customer-layout__grid">
    {% if user.type == 'user' %}
      <nav class="nr-customer-layout__sidebar" aria-label="Sidebar">
        {% if is_page('customer.profile') %}
          <div class="nr-customer-layout__avatar">
            <salla-file-upload profile-image value="{{ user.avatar }}">
              <span class="nr-customer-layout__avatar-placeholder">
                <span class="sicon-user"></span>
                <span>{{ trans('common.uploader.choose_suitable_picture') }}</span>
              </span>
            </salla-file-upload>
          </div>
        {% endif %}

        <salla-user-menu inline></salla-user-menu>
      </nav>
    {% endif %}

    <div class="nr-customer-layout__main">
      {% block inner_title %}
        <h1 class="nr-customer__title">{{ page.title }}</h1>
      {% endblock %}
      {% block inner_content %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}
